{% extends 'base.html' %}

{% block content %}
<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
{% for item in items %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.name}}</h3>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-outline-dark">More</a>
                <button class="btn btn-light" onclick="favorite_item({{item.id}})"><i id="star-{{item.id}}"
                    class="fas fa-star {% if item.id in favorite_list %}text-warning{% endif %}"></i></button>
            </div>
        </div>
    </div>

{% endfor %}
</div>

<script>
    function favorite_item(id){
        $.ajax(
            {
                type: "GET",
                url: "/items/" + id + "/favorite",
                error: function(){
                    console.log('error');
                },
                success: function(data){
                    console.log(data);
                    var item_id = "#star-"+id;
                    console.log(item_id)
                    if(data.action === "favorite"){
                        console.log("the action is favorite")
                        $(item_id).addClass("text-warning");
                    } else {
                        $(item_id).removeClass("text-warning");
                    }
                },
            }
        );
    }
</script>
{% endblock%}